<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  <saveFile>save_game.xml</saveFile>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
<gui>
   <UITexture file="textures/gui/Texture.png"/>
</gui>
  
  <map>
    <folder>maps/</folder>
    <scenes  tmx="Level1.tmx" lvlnum="1" music="audio/music/spooky_skeletons.ogg"/>
    <scenes  tmx="Level2.tmx" lvlnum="2" music="audio/music/spooky.ogg"/>
  </map>

  <entities>entities.xml</entities>
  <scene>
    <StartMenu>
      <background>textures/StartMenu/Background.png</background>
      <music>audio/music/menu_music.ogg</music>
      <soundEffects>
        <sfx name= "test">audio/fx/smw_stomp_bones.wav</sfx>
      </soundEffects>
    <gui>
      <startMenuPanel>
          <images>
            <image name ="title">
               <hitbox x="328" y="28" w="374" h="377"/>
               <idleSec x="0" y="93" w="374" h="377"/>
               <parent name="startMenuPanel"/>
            </image>
      
      </images>
      <buttons>
        <button name="playButton" funtion = "FadeToScene">
          <hitbox x="388"  y="402" w="252" h="146"/>
          <idleSec x="374" y="0" w="253" h="161" />
          <hoverSec x="374" y="161" w="253" h="161" />
          <clickSec x="374" y="322" w="253" h="161" />
          <childs>
            <labels>
              <label text="Play" font="CooperPlateBI48" pos_x="45" pos_y ="60" >
                <color r="62" g="32" b="28" a="255"/>
                <hover>
                  <color r="113" g="57" b="36" a="255"/>
                </hover>
              </label>
            </labels>
          </childs>
        </button>
        <button name ="continue" funtion = "LoadGame">
          <hitbox x="392"  y="565" w="252" h="146"/>
          <idleSec x="374" y="0" w="253" h="161" />
          <hoverSec x="374" y="161" w="253" h="161" />
          <clickSec x="374" y="322" w="253" h="161" />
          <childs>
            <labels>
              <label text="Continue" font="CooperPlateBI24" pos_x="50" pos_y ="67">
                <color r="62" g="32" b="28" a="255"/>
                <hover>
                  <color r="113" g="57" b="36" a="255"/>
                </hover>
              </label>
            </labels>
          </childs>
        </button>
        <button name ="exit" funtion = "ExitGame" Up="">
          <hitbox x="915"  y="31" w="70" h="70"/>
          <idleSec x="186" y="0" w="70" h="70" />
          <hoverSec x="627" y="0" w="70" h="70" />
          <clickSec x="256" y="0" w="70" h="70" />
        </button>
        <button name ="setting" funtion = "GoToSetting">
          <hitbox x="51"  y="35" w="70" h="70"/>
          <idleSec x="0" y="0" w="93" h="93" />
          <hoverSec x="93" y="0" w="93" h="93" />
          <pivot x="14" y="12"/>
        </button>
      </buttons>
        
      </startMenuPanel>
      
    </gui>
    </StartMenu>
    <settingsMenu>
      <images>
        <image name ="Sound mute">
          <hitbox x="220" y="235" w="60" h="103"/>
          <idleSec x="713" y="0" w="60" h="103"/>
        </image>
        <image name ="Settings">
          <hitbox x="336" y="54" w="347" h="57"/>
          <idleSec x="0" y="546" w="347" h="57"/>
        </image>
        <image name ="Sound full">
          <hitbox x="700" y="235" w="107" h="104"/>
          <idleSec x="797" y="0" w="107" h="104"/>
        </image>
        <image name ="Fx icon">
          <hitbox x="170" y="480" w="126" h="125"/>
          <idleSec x="662" y="230" w="126" h="125"/>
        </image>
      </images>
      <labels>
        <label text="MUSIC VOLUME" font="CooperPlateBI24" pos_x="360" pos_y ="200" >
          <color r="255" g="255" b="255" a="255"/>
        </label>
        
        <label text="FX VOLUME" font="CooperPlateBI24" pos_x="390" pos_y ="460" >
          <color r="255" g="255" b="255" a="255"/>
        </label>
        
        
      </labels>
      <buttons>
        <button name ="back" funtion = "GoBackToMenu">
          <hitbox x="450"  y="653" w="90" h="25"/>
          <idleSec x="0" y="0" w="0" h="0" />
          <childs>
            <labels>
              <label text="Back" font="CooperPlateBI24" pos_x="0" pos_y ="0">
                <color r="255" g="255" b="255" a="255"/>
                <hover>
                  <color r="150" g="129" b="112" a="255"/>
                </hover>
              </label>
            </labels>
          </childs>
        </button>
        <button name ="InternetButton" funtion = "OpenPage">
          <hitbox x="30"  y="700" w="52" h="51"/>
          <idleSec x="627" y="358" w="52" h="51" />
          <hoverSec x="683" y="358" w="52" h="51" />
        </button>
        <button name ="CreditsButton" funtion = "OpenCredits">
          <hitbox x="90"  y="700" w="50" h="50"/>
          <idleSec x="740" y="358" w="50" h="50" />
          <hoverSec x="790" y="358" w="50" h="50" />
        </button>
      </buttons>
    </settingsMenu>
    <PausePanel>
      <labels>
        <label text="Pause" font="CooperPlateBI24" pos_x="200" pos_y ="50" >
          <color r="255" g="255" b="255" a="255"/>
        </label>
      </labels>
      <buttons>
        <button name ="BackToMenu" funtion = "BackToStartMenu">
          <hitbox x="25"  y="280" w="80" h="80"/>
          <idleSec x="626" y="410" w="80" h="80" />
          <hoverSec x="706" y="409" w="80" h="80" />
        </button>
        
        <button name ="Resume" funtion = "GoBackToPlay">
          <hitbox x="200"  y="300" w="90" h="25"/>
          <idleSec x="0" y="0" w="0" h="0" />
          <childs>
            <labels>
              <label text="Resume" font="CooperPlateBI24" pos_x="0" pos_y ="0">
                <color r="255" g="255" b="255" a="255"/>
                <hover>
                  <color r="150" g="129" b="112" a="255"/>
                </hover>
              </label>
            </labels>
          </childs>
        </button>
      </buttons>
    </PausePanel>
    <GameUi>
      <images>
        <image name="hearts1" speed="10" scale="1">
          <hitbox x="10" y="17" w="25" h="22"/>
          <idleSec x="0" y="635" w="25" h="22"/>
          <idleSec x="25" y="635" w="25" h="22"/>
          <idleSec x="50" y="635" w="25" h="22"/>
          <idleSec x="75" y="635" w="25" h="22"/>
          <idleSec x="100" y="635" w="25" h="22"/>
          <idleSec x="125" y="635" w="25" h="22"/>
          <idleSec x="150" y="635" w="25" h="22"/>
        </image>
        <image name="hearts2" speed="10" scale="1">
          <hitbox x="35" y="17" w="25" h="22"/>
          <idleSec x="0" y="635" w="25" h="22"/>
          <idleSec x="25" y="635" w="25" h="22"/>
          <idleSec x="50" y="635" w="25" h="22"/>
          <idleSec x="75" y="635" w="25" h="22"/>
          <idleSec x="100" y="635" w="25" h="22"/>
          <idleSec x="125" y="635" w="25" h="22"/>
          <idleSec x="150" y="635" w="25" h="22"/>
        </image>
        <image name="hearts3" speed="10" scale="1">
          <hitbox x="60" y="17" w="25" h="22"/>
          <idleSec x="0" y="635" w="25" h="22"/>
          <idleSec x="25" y="635" w="25" h="22"/>
          <idleSec x="50" y="635" w="25" h="22"/>
          <idleSec x="75" y="635" w="25" h="22"/>
          <idleSec x="100" y="635" w="25" h="22"/>
          <idleSec x="125" y="635" w="25" h="22"/>
          <idleSec x="150" y="635" w="25" h="22"/>
        </image>
        <image name="Coin" speed="10" >
          <hitbox x="150" y="8" w="14" h="14"/>
          <idleSec x="0" y="665" w="14" h="14"/>
          <idleSec x="16" y="665" w="11" h="14"/>
          <idleSec x="30" y="665" w="5" h="14"/>
          <idleSec x="38" y="665" w="11" h="14"/>
          <idleSec x="51" y="665" w="14" h="14"/>
          <idleSec x="67" y="665" w="11" h="14"/>
          <idleSec x="81" y="665" w="5" h="14"/>
          <idleSec x="89" y="665" w="11" h="14"/>
        </image>
      </images>
      <labels>
        <label name="NumCoinsLabel" text="x 0" font="OpenSAnsSB12" pos_x="170" pos_y ="6" >
          <color r="255" g="255" b="255" a="255"/>
        </label>
        <label name="NumpointsLabel" text="0" font="OpenSAnsSB12" pos_x="250" pos_y ="6" >
          <color r="255" g="255" b="255" a="255"/>
        </label>
        <label name="NumTimer" text="00:00:00" font="OpenSAnsSB12" pos_x="400" pos_y ="6" >
          <color r="255" g="255" b="255" a="255"/>
        </label>
      </labels>
    </GameUi>
    <CreditsPanel>
      <images >
        <image name="panelCredits" scale="2.5" clipping="true">
          <hitbox x="300" y="193" w="396" h="360"/>
          <idleSec x="367" y="483" w="288" h="291"/>
          <pivot x="245" y="180"/>
        </image>
      </images>
      <buttons>
        <button name ="back" funtion = "BackToSettings">
          <hitbox x="450"  y="653" w="90" h="25"/>
          <idleSec x="0" y="0" w="0" h="0" />
          <childs>
            <labels>
              <label text="Back" font="CooperPlateBI24" pos_x="0" pos_y ="0">
                <color r="182" g="154" b="120" a="255"/>
                <hover>
                  <color r="235" g="182" b="118" a="255"/>
                </hover>
              </label>
            </labels>
          </childs>
        </button>
      </buttons>
      <Text> 
        Credits:/
        Yessica Servin Dominguez/
        Pol Recasens /
        License: /
        MIT License/
        Copyright (c) [2018]
        /[Yessica Servin Dominguez/
        and/
        Pol Recasens Sarrà]/
        Permission is hereby granted,/
        free of charge,/
        to any person obtaining a copy/
        of this software and associated/
        documentation files (the "Software"),
        /to deal in the Software/
        without restriction,/
        including without/
        limitation the rights/
        to use, copy, modify,/
        merge, publish,/
        distribute, sublicense,/
        and/or sell/
        copies of the Software,/
        and to permit persons /
        to whom the Software is/
        furnished to do so,/
        subject to the following/
        conditions:/
        The above copyright notice/
        and this permission notice/
        shall be included in all/
        copies or substantial/
        portions of the Software./
        THE SOFTWARE/
        IS PROVIDED "AS IS",/
        WITHOUT WARRANTY OF ANY KIND,/
        EXPRESS OR/
        IMPLIED,/
        INCLUDING BUT NOT LIMITED/
        TO THE WARRANTIES OF MERCHANTABILITY,/
        FITNESS FOR A PARTICULAR/
        PURPOSE AND NONINFRINGEMENT./
        IN NO EVENT SHALL THE/
        AUTHORS OR COPYRIGHT/
        HOLDERS BE LIABLE FOR ANY CLAIM,/
        DAMAGES OR OTHER/
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT,/
        TORT OR OTHERWISE, ARISING FROM,/
        OUT OF OR IN CONNECTION WITH THE SOFTWARE/
        OR THE USE OR OTHER DEALINGS IN THE/
        SOFTWARE.
      </Text>
    </CreditsPanel>
    <idle>ScenesInfo.xml</idle>
    <saveFile>save_game.xml</saveFile>
  </scene>
</config>